/*---------------------------
	Fonts
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



// fonts
$base-font-size: 15;
$base-font:"Inter", serif;
$heading-font:"Inter", serif;


// color
$dark-gray: #170059; //
$body-color: #7B7B7C;
$white: #fff; //
$light: #FFEBEB; //
$black: #000;
$small-black: #333;
$cyan: #848892; //

$theme-primary-color: #F40E22; //
$theme-primary-color-s2: #274DCF; //
$theme-primary-color-s3: #00C99F; //
$theme-primary-color-gradient:linear-gradient(90deg, rgba(45, 73, 189, 1) 0%, #F40E22 100%); //
$body-bg-color: #fff;
$section-bg-color: #F9F4F4; //
$section-bg-color-s2: #F8F2F2; //
$text-color: #6C7187; //
$text-light-color: #BFC4DC; //
$text-light-color-s2: #989AA5; //
$heading-color: $dark-gray;
$border-color: #ebebeb;
$border-color-s2: #d8e0f1;